<fieldset>
  <div class="control-group">
    <div class="controls">
      {% ifequal status "missing" %}
      <label class="radio">
        <input type="radio" name="status" value="new" checked required>
        <strong>Missing</strong>。本发布缺失设计文档。
      </label>
      <label class="radio">
        <input type="radio" name="status" value="waived" required{% ifequal status "waived" %} checked{% endifequal %}>
        <strong>Waived</strong>。本发布不需要设计文档。
      </label>
      {% else %}
        {% ifequal status "waived" %}
        <div class="alert">
          按发布影响级别，本文档已自动标记为无需 review，以下状态将不会生效。
        </div>
        {% endifequal %}
      <label class="radio">
        <input type="radio" name="status" value="new" required{% ifequal status "new" %} checked{% endifequal %}>
        <strong>New</strong>。刚刚收到，还没有处理。
      </label>
      <label class="radio">
        <input type="radio" name="status" value="approved" required{% ifequal status "approved" %} checked{% endifequal %}>
        <strong>Approved</strong>。已经过 review，没有发现重大问题，同意按此实施。
      </label>
      <label class="radio">
        <input type="radio" name="status" value="rejected" required{% ifequal status "rejected" %} checked{% endifequal %}>
        <strong>Rejected</strong>。已经过 review，有重大问题，请修改后再次 review。
      </label>
      <label class="radio">
        <input type="radio" name="status" value="waived" required{% ifequal status "waived" %} checked{% endifequal %}>
        <strong>Waived</strong>。不需要 review。
      </label>
      {% endifequal %}
      
    </div>
  </div>
  <hr>
  <div class="control-group">
    <div class="controls">
      <textarea class="span8" id="text" name="text" rows="3" placeholder="附言..."></textarea>
      <p class="help-block">支持 Markdown 格式。</p>
    </div>
  </div>
</fieldset>