<div id="modal-mktg-review" class="modal hide">
  <form action="/entries/{{ entry.key }}/review/mktg" method="post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Marketing Review 状态</h3>
    </div>
    <div class="modal-body">
      <div class="alert alert-error">
        <strong>请勿擅自修改!</strong> 
        非紧急情况，仅 {{ mktg_reviewer }} 有权修改此项目。在紧急情况下，可自行修改。
      </div>

      {% with entry.mktg_review_status as status %}{% include "form/review.html" %}{% endwith %}
    </div>
    <div class="modal-footer">
      <button type="submit" data-loading-text="保存ing..." class="btn btn-primary">保存</button>
      <button class="btn" data-dismiss="modal">不敢</button>
    </div>
  </form>
</div>