<div id="form-status" class="modal hide">
  <form action="/entries/{{ entry.key }}/status" method="post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>发布状态</h3>
    </div>
    <div class="modal-body">
      <fieldset>
        <div class="control-group">
          <div class="controls">
            
            <label class="radio">
              <input type="radio" name="status" value="new"{% ifequal status "new" %} checked="checked"{% endifequal %}>
              <p>
                {% include "span/status.html" with status="new" %}
                这是一个新建的发布，还没有开始实质工作。
              </p>
            </label>

            <label class="radio">
              <input type="radio" name="status" value="in progress"{% ifequal status "in progress" %} checked="checked"{% endifequal %}>
              <p>
                {% include "span/status.html" with status="in progress" %}
                已经开始进行设计和研发工作。Engineering Design Review 和 Product Design Reviews，代码编写、单元测试等工作应在本阶段完成。
              </p>
            </label>
            
            {% if not entry.ready %}
              <div class="alert alert-error">
                <strong>在完成 review 前，以下流程无法继续</strong>。
                请先完成 Product Design Review、Engineering Design Review 和 Marketing Plan，并且也保证搭车的所有项目都已完成这三个 review。
              </div>
            {% endif %}

            <label class="radio">
              <input type="radio" name="status" value="completed"{% ifequal status "completed" %} checked="checked"{% endifequal %}{% if not entry.ready %} disabled{% endif %}>
              <p>
                {% include "span/status.html" with status="completed" %}
                所有计划发布的功能都已完成并冻结。如果你是搭别人的车，这意味着你的工作已经基本完成，买好票上车了，接下来的状态将由开车的同学负责。这也意味着测试同学开始开始测试了。<strong>选择本状态后，会自动向 testing@wandoujia.com 发送一份开发完成通知，下面的文本框中的附言会一并发送。</strong>
              </p>
            </label>

            {% if entry.type == "product" %}
            
            <div>
              <strong>以下流程由其它发布负责</strong>。
              本发布属于搭车发布，{% include "span/status.html" with status="ready" %}
              {% include "span/status.html" with status="launched" %} 状态将由 {{ entry.dependency.name }} 负责标记。状态会自动同步，无需手动更新。
            </div>

            {% else %}
            
            <label class="radio">
              <input type="radio" name="status" value="ready"{% ifequal status "ready" %} checked="checked"{% endifequal %}{% if not entry.ready %} disabled{% endif %}>
              <p>
                {% include "span/status.html" with status="ready" %}
                所有计划发布的功能，及搭车的所有功能都已研发和测试完成。代码已冻结，随时都可以发布。
                <strong>选择本状态后，会自动向 launch@wandoujia.com 发送一份准备就绪通知，下面的文本框中的附言会一并发送。</strong>
              </p>
            </label>

            <label class="radio" disabled>
              <input type="radio" name="status" value="launched"{% ifequal status "launched" %} checked="checked"{% endifequal %}{% if not entry.ready %} disabled{% endif %}>
              <p>
                {% include "span/status.html" with status="launched" %}
                代码已成功推送 (而且暂时还没有回滚...)
                <strong>选择本状态后，会自动向 all@wandoujia.com 发送一份发布通知，下面的文本框中的附言会一并发送。</strong>
              </p>
            </label>

            {% endif %}
            
            <label class="radio">
              <input type="radio" name="status" value="cancelled"{% ifequal status "cancelled" %} checked="checked"{% endifequal %}>
              <p>
                {% include "span/status.html" with status="cancelled" %}
                本发布因故取消。
              </p>
            </label>

          </div>
        </div>
        <hr>
        <div class="control-group">
          <div class="controls">
            <textarea class="span8" id="text" name="text" rows="3" placeholder="附言"></textarea>
            <p>支持 Markdown 格式。</p>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit" data-loading-text="保存ing..." class="btn btn-primary">保存修改</button>
      <button class="btn" data-dismiss="modal">取消</button>
    </div>
  </form>
</div>