#top {
  position: absolute;
  right: 20px;
}
#login .alert {
  background: none;
  border: none;
  padding: 0;
}

.modal form {
  margin: 0;
}
a button {
  background: inherit;
  border: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
small a {
  color: inherit;
}
sup {
  color: red;
  font-weight: bold;
}
/* tables */
.col-status {
  width: 5em;
}
.col-name {
  overflow: hidden;
}
.col-project {
  width: 8em;
}
.col-pdr {
  width: 4em;
}
.col-edr {
  width: 4em;
}
.col-mr {
  width: 4em;
}
.col-dueon {
  width: 8em;
}
.snippet {
  overflow: hidden;
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Hero Unit */
.hero-unit * { /* Allow markdown in hero-unit.*/
  font-size: 18px;
  line-height: 1.5;
}
.hero-unit h1 {
  margin-bottom: 9px;
}
span.label {
  cursor: default;
}
footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

/* Overwritting modal dialogs */
.modal-entry {
  height: 600px;
  margin-left: -400px;
  margin-top: -300px;
  width: 800px;
}
.modal-entry .modal-body {
  height: 500px;
  max-height: 500px;
}
/* Table */
table h5,
table p {
  margin: 0;
}