<div id="form-entry-edit" class="modal hide">
  <form action="/entries/{{ entry.key }}" method="post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>修改发布内容</h3>
    </div>
    <div class="modal-body">
      {% with entry as edit %}{% include "_form_entry.html" %}{% endwith %}
    </div>
    <div class="modal-footer">
      <button type="submit" data-loading-text="存ing..." class="btn btn-primary">保存吧</button>
      <button class="btn" data-dismiss="modal">不改了</button>
    </div>
  </form>
</div>