<div id="form-project-new" class="modal hide">
  <form action="/projects" method="post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>登记新项目</h3>
    </div>
    <div class="modal-body">
      {% include "_form_project.html" %}
    </div>
    <div class="modal-footer">
      <button type="submit" data-loading-text="立ing..." class="btn btn-primary">好，立项</button>
      <button class="btn" data-dismiss="modal">取消</button>
    </div>
  </form>
</div>