{% extends "base.html" %}

{% block title %}所有发布{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#active_releases" data-toggle="tab">即将发布
      <span class="badge">{{ all_active_entries|length }}</span>
    </a>
  </li>
  <li>
    <a href="#launched_releases" data-toggle="tab">已发布
      <span class="badge">{{ all_launched_entries|length }}</span>
    </a>
  </li>
  <li>
    <a href="#cancelled_releases" data-toggle="tab">已取消
      <span class="badge">{{ all_cancelled_entries|length }}</span>
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="active_releases">
    {# include "table/entries.html" with entries=recent_launched_releases #}
    {% include "table/entries.html" with entries=all_active_releases %}
  </div>
  <div class="tab-pane" id="launched_releases">
    {% include "table/entries.html" with entries=all_launched_releases %}
  </div>
  <div class="tab-pane" id="cancelled_releases">
    {% include "table/entries.html" with entries=all_cancelled_entries %}
  </div>
</div>
{% endblock %}