{% extends "base.html" %}

{% load filters %}
{% load markup %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<div class="well">
  <div class="row-fluid">
    <div class="span9">
      <h2>{{ project.name }}<span class="badge">{{ project.status }}</span></h2>
      {{ project.notes|markdown }}
      <p><a data-toggle="modal" href="#form-project-edit"><i class="icon-pencil"></i>修改项目信息</a>
      </p>
    </div>
    <div class="span3">
      <dl class="dl">
        <dt>Owner</dt>
        <dd>
          {% with project.owner as persons %}
          {% include "ul/members.html" %}
          {% endwith %}
        </dd>
        <dt>主力成员</dt>
        <dd>
          {% with project.fulltimers as persons %}
          {% include "ul/members.html" %}
          {% endwith %}
        </dd>
        <dt>"+1"ers</dt>
        <dd>
          {% with project.plusoners as persons %}
          {% include "ul/members.html" %}
          {% endwith %}
        </dd>
      </dl>
      {% include "form/add_me.html" %}
    </div>
  </div>
</div>
<h3>发布</h3>
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#active_entries" data-toggle="tab">尚未发布
      <span class="badge">{{ active_entries.count }}</span>
      {# active_entries is a query object #}
    </a>
  </li>
  <li>
    <a href="#launched_entries" data-toggle="tab">已发布
      <span class="badge">{{ launched_entries.count }}</span>
    </a>
  </li>
  <li>
    <a href="#cancelled_entries" data-toggle="tab">已取消
      <span class="badge">{{ cancelled_entries.count }}</span>
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="active_entries">
    {% with active_entries as entries %}
      {% include "table/entries.html" %}
    {% endwith %}    
  </div>
  <div class="tab-pane" id="launched_entries">
    {% with launched_entries as entries %}
      {% include "table/entries.html" %}
    {% endwith %}
  </div>
  <div class="tab-pane" id="cancelled_entries">
    {% with cancelled_entries as entries %}
      {% include "table/entries.html" %}
    {% endwith %}
  </div>
</div>
<h3>动态</h3>
{% with project.stories as stories %}
  {% include "ul/stories.html" %}
{% endwith %}
{% include "modal/project_edit.html" %}
{% endblock %}