{% load filters %}
<table class="table">
  <thead>
    <tr>
      <th class="col-status">状态</th>
      <th class="col-name">名字</th>
      <th class="col-project">所属项目</th>
      <th class="col-pdr"><abbr title="Product Design Review">Prod</abbr></th>
      <th class="col-edr"><abbr title="Engineering Design Review">Eng</abbr></th>
      <th class="col-dueon">发布日期</th>
    </tr>
  </thead>
  <tbody>
    {% spaceless %}
    {% for entry in entries %}
    <tr id="entry-{{ entry.key }}" class="entry">
      <td class="col-status">
        {% with entry.status as status %}{% include "span/status.html" %}{% endwith %}
      </td>
      <td class="col-name">
        <h5>
          <a href="/entries/{{ entry.key }}">{{ entry.name }}</a>&nbsp;
          {% with entry.impact as impact %}{% include "span/impact.html" %}{% endwith %}
        </h5>
        <p class="snippet">
          {{ entry.notes|default:"Owner 很懒，连说明都不写。" }}
        </p>
      </td>
      <td class="col-project">
        {% with entry.project as project %}{% include "a/project.html" %}{% endwith %}
      </td>
      <td class="col-pdr">
        {% with entry.prod_design_review_status as status %}{% include "span/approval.html" %}{% endwith %}
        {% if entry.prod_design_doc %}<br /><a href="{{ entry.prod_design_doc }}">文档</a>{% endif %}
      </td>
      <td class="col-edr">
        {% with entry.eng_design_review_status as status %}{% include "span/approval.html" %}{% endwith %}
        {% if entry.eng_design_doc %}<br /><a href="{{ entry.prod_design_doc }}">文档</a>{% endif %}
      </td>
      <td class="due_on">{{ entry.due_on|cst|date:"SHORT_DATE_FORMAT" }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">
        没有发布记录。
      </td>
    </tr>
    {% endfor %}
    {% endspaceless %}
  </tbody>
</table>