{% load filters %}
<table class="table">
  <thead>
    <tr>
      <th class="col-status">状态</th>
      <th class="col-name">名字</th>
      <th class="col-project">所属项目</th>
      <th class="col-pdr"><abbr title="Product Design Review">Prod</abbr></th>
      <th class="col-edr"><abbr title="Engineering Design Review">Eng</abbr></th>
      <th class="col-mr"><abbr title="Marketing Plan">Mktg</abbr></th>
      <th class="col-dueon">发布日期</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr id="entry-{{ entry.key }}" class="entry">
      <td class="col-status">
        {% with entry.status as status %}{% include "span/status.html" %}{% endwith %}
      </td>
      <td class="col-name">
        <h5>
          <a href="/entries/{{ entry.key }}">{{ entry.name }}</a>&nbsp;
          {% include "span/impact.html" with impact=entry.impact %}
        </h5>
        <p class="snippet">
          {{ entry.notes|default:"Owner 很懒，连说明都不写。" }}
        </p>
        {% for entry in entry.reliers %}
        <p>
          <span class="muted">↳ </span>
          {% include "a/project.html" with project=entry.project %}
          <span class="divider">»</span>
          {% include "a/entry.html" %}
          {% include "span/impact.html" with impact=entry.impact %}
        </p>
        {% endfor %}
      </td>
      <td class="col-project">
        {% with entry.project as project %}{% include "a/project.html" %}{% endwith %}
      </td>
      <td class="col-pdr">
        {% include "span/approval.html" with status=entry.prod_design_review_status %}
        {% if entry.prod_design_doc %}<br /><a href="{{ entry.prod_design_doc }}">文档</a>{% endif %}
      </td>
      <td class="col-edr">
        {% include "span/approval.html" with status=entry.eng_design_review_status %}
        {% if entry.eng_design_doc %}<br /><a href="{{ entry.eng_design_doc }}">文档</a>{% endif %}
      </td>
      <td class="col-mr">
        {% include "span/approval.html" with status=entry.mktg_review_status %}
        {% if entry.mktg_doc %}<br /><a href="{{ entry.mktg_doc }}">文档</a>{% endif %}
      </td>
      <td class="due_on">
        {% if entry.status == "launched" %}
        <span class="muted"><del>{{ entry.due_on|cst|date:"SHORT_DATE_FORMAT" }} (<abbr title="估计时间">E</abbr>)</del></span><br>
        <span class="text-success">{{ entry.launched_at|cst|date:"SHORT_DATE_FORMAT" }}</span>
        {% else %}
        {{ entry.due_on|cst|date:"SHORT_DATE_FORMAT" }} (<abbr title="估计时间">E</abbr>)
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">
        没有发布记录。
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>