{% load markup %}

<p>本发布已被 {{ person.given_name }} {{ person.family_name }} 标记为 <strong>"Completed (已完成)"</strong>。所有计划发布的功能都已完成并冻结，接下来的状态将由开车的同学负责，测试团队也可开始测试。</p>
<h3>附言</h3>
{{ text|markdown }}
<h3>发布内容</h3>
<h4>[{{ entry.project.name }}] {{ entry.name }} ({{ entry.impact }})</h4>
<blockquote>{{ entry.notes|markdown }}</blockquote>
{% for relier in entry.reliers %}
<ul>
  <li>Product Design Doc: {{ entry.prod_design_doc }}</li>
  <li>Engineering Design Doc: {{ entry.eng_design_doc }}</li>
</ul>
<h4>[{{ relier.project.name }}] {{ relier.name }} ({{ relier.impact }})</h4>
<blockquote>{{ relier.notes }}</blockquote>
<ul>
  <li>Product Design Doc: {{ relier.prod_design_doc }}</li>
  <li>Engineering Design Doc: {{ relier.eng_design_doc }}</li>
</ul>
{% endfor %}
<p>详情可<a href="{{ base_url }}/entries/{{ entry.key }}">到此查看 &raquo;</a></p>

<small>本邮件由 {{ person.given_name }} {{ person.family_name }} 通过 wandoulabs.com 自动发出。</small>