{% load filters %}
{% load markup %}

<ul class="unstyled">
{% for story in stories %}
  <li>
    {% if story.type == "system" %}
    <p>
      <small>
      {% with story.created_by as person %}
        <strong>{% include "a/person.html" %}</strong>
      {% endwith %}
      {{ story.text|safe }}
      {% if story.project %}· {% with story.project as project %}{% include "a/project.html" %}{% endwith %}{% endif %}
      {% if story.entry %}· {% with story.entry as entry %}{% include "a/entry.html" %}{% endwith %}{% endif %}
      · {{ story.created_at|timesince }} ago
      </small>
    </p>
    {% else %}
    <blockquote>
      <p>{{ story.text|markdown }}</p>
      <small>
        {% with story.created_by as person %}
          <strong>{% include "a/person.html" %}</strong>
        {% endwith %}
        {% if story.project %}· {% with story.project as project %}{% include "a/project.html" %}{% endwith %}{% endif %}
        {% if story.entry %}· {% with story.entry as entry %}{% include "a/entry.html" %}{% endwith %}{% endif %}
        · {{ story.created_at|timesince }} ago
      </small>
    </blockquote>
    {% endif %}
  </li>
{% empty %}
<div class="alert alert-info">没有相关动态。</div>
{% endfor %}
</ul>